body {
	margin-top: 2%;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
header > div { 
    height: 10%;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
        }
a > span {
    padding-right: 10%;
}
.nav > li > a {
	text-align: center;
	color: #EEE;
	background-color: #333;
}
.nav > li > a:hover {
	color: #333;
	background-color: #428BCA;
}
 